{% extends "adminlte/account_base.html" %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="login-box">
  {% block logo %}
  <div class="login-logo">
    {# Mirrors block names used in _main_header.html #}
    <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>G</b>race <b>B</b>aptist <b>M</b>inistries
      {% endblock %}</a>
  </div>
  {% endblock %}
  <!-- /.login-logo -->
  <div class="login-box-body">
    {% block login_form %}
    <form action="" method="post">{% csrf_token %}
      {% if message %}
      <p class="login-box-msg" style="color: red;">{{ message }}</p>
      {% endif %}
      <div class="form-group has-feedback">
        <input class="form-control" type="text" name="login" placeholder="Email Address" required id="id_login" />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" type="password" name="password" placeholder="Password" required id="id_password" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" id="id_remember"> <strong>Remember me</strong>
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
      </div><br />
      <a href="/password/reset/">Forgot Password?</a>
    </form>
    {% endblock login_form %}

  </div>
</div>
{% endblock %}
